/*global*/

body {
	font-family: Helvetica, sans-serif;
	color: #faf3bc;
	background: #e7c681;
}

h1 {
	color: #262827;
	font-size: 3em;
	line-height: 1em;
	font-family: 'Oleo Script', Helvetica, Sans-serif;
	padding: 5px 15px 0px 20px;
}

p {
	color: #404342;
	font-size: 1.3em;
	font-family: Helvetica, Sans-serif;
	line-height: 1.5em;
	padding: 0px 15px 15px 20px;
} 

a {
	color: #e7c681;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
}

a:hover {
	color: #cbe0df;
}

/*content*/

#factory {
	max-width: 490px;
	height: 386px;
	background: #acad88 url('img/factory.jpg') no-repeat center center;
    background-size: cover;
}

#expfact {
	background-color: #cbe0df;
	max-height: 386px;
	overflow: auto;
}

#gotoone {
	background-color: #acad88;
	border-bottom: 16px solid #6a6b54;
}

#gototwo {
	background-color: #acad88;
	border-bottom: 16px solid #6a6b54;
}

#gotothree {
	background-color: #acad88;
	border-bottom: 16px solid #6a6b54;
}

#london {
	max-width: 1000px;
	height: 625px;
	background: #acad88 url('../img/lond2.jpg') no-repeat center center;
    background-size: auto;
    overflow: hidden;
}

#people {
	max-width: 1000px;
	height: 162px;
	background: #acad88 url('../img/people.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#quotefact {
	background-color: #262827;
	border-bottom: 25px solid #cbe0df;
}


#quotefact h1 {
	color: #e7c681;
	font-size: 1.9em;
	line-height: 1.75em;
	font-family: Helvetica, Sans-serif;
	padding: 0px 5px 0px 20px;
}

.threecolumns h1 {
	color: #262827;
	font-size: 2.6em;
	line-height: 1em;
	font-family: Helvetica, Sans-serif;
	padding: 5px 15px 0px 20px;
}

.threecolumns p {
	color: #6a6b54;
	font-size: 1.3em;
	font-family: Helvetica, Sans-serif;
	line-height: 1.8em;
	padding: 0px 15px 15px 20px;
}

.threecolumns a {
	color: #262827;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: .9em;
}

#quotefact:hover {
	background-color: #cbe0df;
	border-bottom: 25px solid #262827;
}

#quotefact:hover h1 {
	color: #262827;
	}

/*navigation*/

ul.nav {
  line-height: 2em;
  font-size: 1.52em;
  letter-spacing: 0.16em;
  list-style: none;
  display: inline;
}

ul.nav li {
	float: left;
	margin: 40px 20px 23px 15px;
	background: #262827 url('img/ecailles.png') repeat right top;;
	padding: 10px 18px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}

ul.nav li.last {
	margin: 40px 0px 23px 15px;
}

ul.nav li.first {
	margin: 40px 20px 23px 22px;
}



/* Media Queries */
/* Mobile */
@media screen and (max-width: 480px) {
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width: 100%;
}

#gototwo, #gotothree, #london, #expfact {
	display: none;
}

#gotoone, #factory { 
	margin-right:0px;
	width: 100%;
}

#factory {
	background-size: cover;
}

ul.nav {
  line-height: 2em;
  font-size: 2.3em;
}

ul.nav li {
	margin: 5px 20px 5px 15px;
	padding: 10px 25px;
	width: 88%;
	text-align: center;
}

ul.nav li.last {
	margin: 5px 20px 5px 15px;
}

ul.nav li.first {
	margin: 5px 20px 5px 15px;
}

}






